@media all {
  html {
    height: 100vh;
    body {
      overflow-y: scroll;
      min-height: 100vh;
      height: auto;
      padding: 0;
      .container-fluid {
        max-width: 1200px;
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
        @include media-breakpoint-up(md) {
          padding-left: $grid-gutter-width * 1.5;
          padding-right: $grid-gutter-width * 1.5;
        }
        &.ly-content {
          min-height: 370px;
          padding-top: $grid-gutter-width;
          padding-bottom: $grid-gutter-width * 1.5;
          background: $white;
          @include media-breakpoint-up(md) {
            padding-top: $grid-gutter-width * 1.5;
            padding-bottom: $grid-gutter-width * 2;
          }
        }
      }
    }
  }
}
