@media all {
    #nav-desktop {
        margin: 0;
        padding: 0;
        transition: margin .4s;
    }
    /* Reset for all Navigations */
    .ly-nav {
        &, ul, li {
            margin: 0;
            padding: 0;
        }
    }
    .navbar {
        .ly-nav-main {
            li {
                a {
                    color: $body-color;
                    padding: 10px 0;
                    margin-left: 20px;
                    border: 0px solid transparent;
                    transition: color .5s;
                    position: relative;
                    &:hover,
                    &:focus {
                        background-color: transparent;
                        color: $primary;
                        &:after {
                            width:100%;
                        }
                    }
                    &:after {
                        content: " ";
                        height: 1px;
                        width: 0;
                        background: $primary;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: width .4s;
                    }
                }
                &.active>a {
                    background-color: transparent;
                    color: $primary;
                    &:hover,
                    &:focus {
                        background-color: transparent;
                        color: $primary;
                    }
                    &:after {
                        width: 100%;
                    }
                }
            }
        }

        /* Language Selection Styling */
        .ly-language {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            font-size: 12px;
            margin-top: 0;
            margin-right: 0;
            padding-right: 0;
  
            >li {
              display: inline-block;
              padding-right: 5px;
  
              &:last-child {
                padding-right: 0;
              }
  
              a {
                color: $secondary;
                text-decoration: none;
              }
            }
        }
    }
}