@media all {
	a.ly-top {
		position: fixed;
		bottom: 20px;
		right: 25px;
		background-color: theme-color("primary");
		color: #ffffff;
		overflow: hidden;
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding: 0;
		border-radius: 50%;
		-webkit-transition: .3s;
		cursor: pointer;
		vertical-align: middle;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		font-size: 35px;
		opacity: 0;
		z-index: 100;
		text-align: center;
		transition: opacity 0.5s;
		pointer-events: none;

		i {
			border: solid #ffffff;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 5px;
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
			vertical-align: middle;
			margin-left: -1px;
		}

		@include media-breakpoint-up(md) {
			display: none !important;
		}
	}

	.ly-top.ly-top-visible {
		opacity: 1;
		pointer-events: auto;
	}
}