@import "variables";
@import "../variables-2sic";

@media all {
	
	/*layout box*/
	body.va-layout-box {
		header {
			background: transparent;
			.container-fluid {
				background: $tosic-header-background;
			}

			&.fixed-header {
				box-shadow: none;
			}
		}
		.ly-header-pane {
			margin-top: 0;
			background: #fff;
		}
		.ly-header-pane-empty {
			border-top: 5px solid theme-color("primary");
		}

		.ly-fullwrapper .ly-push { display: none; }
	}
}