@import "variables";
@import "../variables-2sic";

@media all {
	.role-admin header {
		margin-top: 54px;
	}
	header { 
		background: $tosic-header-background;
		width: 100%;

		&.fixed-header {
			height: 80px;
			box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.3);
			position:fixed;
			z-index: 20;
			top: -150px;
			transition: top .4s ease-in-out;
			&.fixed-top {
				top:0;
			}

			.ly-logo {
				width: 130px;
				svg {
					/* If you use an SVG as Logo, you will have to give it a fixed height
					   in this selector, orelse you may experience issues in IE */
					height: auto;
				}
			}
		}
		
		.container-fluid { 
			padding-top: $grid-gutter-width/1.5;
			padding-bottom: $grid-gutter-width/1.5;
		}
	} 
	
    .ly-logo {
		display: block;
		width:170px;
		max-width:80%;
		height: auto;
		transition: width 0.4s ease-in-out;

        img {
            width:100%;
            max-width:100%;
			height: auto;
		}
		
		svg {
			/* If you use an SVG as Logo, you will have to give it a fixed height
			   in this selector, orelse you may experience issues in IE */
			
		}
    }

    .ly-header-pane { 
		padding:0;
	}
}