@media all {
    /*layout full*/
    body.va-layout-full {
        background-image: none;

        header {
            box-shadow: 0 0 20px;
        }

        .fixed-header {
            position: fixed;
        }

        .ly-header-pane {
            background: transparent;
            margin-top: 0;
            width: 100%;

            &.container-fluid {
                max-width: 100%;

                .ly-container-inner {
                    max-width: 100%;
                    margin: 0 auto;
                    overflow: hidden;
                }
            }
        }

        #content {
            // background: $white;
            .container-fluid.ly-content {
                background: transparent;
                position: relative;
            }
        }

        /* Sticky Footer -*/
        footer {
            background-color: $tosic-footer-background;
            height: 60px;
        }

        .ly-fullwrapper {
            min-height: 100%;
            margin: 0 auto -60px;
            /* the bottom margin is the negative value of the footer's height */
        }

        #Form {
            height: 100vh;
        }

        .ly-fullwrapper .ly-push {
            height: 60px;
        }
    }
}