@media all {
    /* Logo left */ /* Logo right */
    body.va-mainnav-left {
      .container-fluid {
        flex-direction: row-reverse;
      }
    }
    /* header centered */
    body.va-mainnav-center {
      header {
        .container-fluid {
          flex-direction: column !important;
          justify-content: center !important;
          padding-bottom:0px;
          .ly-logo {margin-bottom:10px;}
        }
      }
      .co-navigation {
        text-align: center;
      }
    }
  }
  