@media all {
  /*layout wide*/
  body.va-layout-wide {
    background-color: #eceff1;
    .ly-fullwrapper {
      max-width: 1600px;
      margin: 0 auto;
      overflow: hidden;
    }
    .ly-header-pane {
      margin-top: 0;
      @include media-breakpoint-up(xl) {
        margin-bottom: -300px;
      }
      .ly-container-inner {
        position: relative;
        @include media-breakpoint-up(xl) {
          margin-left: -200px;
          margin-right: -200px;
        }
        &:before {
          content:"";
          display:none;
          @include media-breakpoint-up(xl) {
            display:block;
          position: absolute;
          z-index:1;
          left:0;
          width:100%;
          bottom:0;
          height:200px;
          background: linear-gradient(0deg, rgba($body-bg,1) 0%, rgba($body-bg,0) 100%);
          }

        }
            }
      /* only one module in headerpane -> bugs in dnn-sortable (moving modules in panes with drag and drop) */
      &:not(.ly-header-pane-empty) .dnnSortable {
        min-height: 0 !important;
        height: 0;
      }
    }

    &.tab-is-home {
      .ly-header-pane {
        @include media-breakpoint-up(xl) {
          margin-bottom: -200px;
        }
      }
    }

    .ly-header-pane-empty {
      .ly-container-inner {
        background: $primary;
        background: linear-gradient(to bottom, rgba($primary, 1) 0%, rgba(255, 255, 255, 0) 100%);
        @include media-breakpoint-up(xl) {
          margin-bottom: -300px;
          min-height: 485px + $grid-gutter-width;
        }
      }
    }

    .container-fluid.ly-content {
      position: relative;
      z-index: 11;
    }

    .ly-fullwrapper .ly-push {
      display: none;
    }
  }
}
