/* ----------------------------------------------------------------------------------------------------
          INFO: Here are some instructions for the "Instant Theme" that may help you
          https://azing.org/2sxc/l/t8U9NMGu/theme-bootstrap-4-instant
 ----------------------------------------------------------------------------------------------------*/

 
// 1. Initialize Theme styles and all default Bootstrap Variables
@import "variables";

// ----------------------------------------------------------------------------------------------------
// 2. Generate all standard Bootstrap CSS
// The following bootstrap parts are used by the default setup
// so we are including them here
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";

// The following bootstrap parts are not used by the default setup
// But in case you need them, just uncommented the lines
//@import "../../node_modules/bootstrap/scss/jumbotron";
//@import "../../node_modules/bootstrap/scss/progress";
//@import "../../node_modules/bootstrap/scss/toasts";
//@import "../../node_modules/bootstrap/scss/modal";
//@import "../../node_modules/bootstrap/scss/tooltip";
//@import "../../node_modules/bootstrap/scss/popover";
//@import "../../node_modules/bootstrap/scss/carousel";
//@import "../../node_modules/bootstrap/scss/spinners";
//@import "../../node_modules/bootstrap/scss/transitions";
//@import "../../node_modules/bootstrap/scss/dropdown";
//@import "../../node_modules/bootstrap/scss/custom-forms";

// ----------------------------------------------------------------------------------------------------
// 3. Generate CSS for this theme / skin
@import "components/typography";      // Fonts / typography
@import "components/base-layout";     // Layout styles, body, html, fluid, etc.
@import "components/header";          // Header styles
@import "components/footer";          // Footer styles
@import "components/dnn-overrides";

// Navigations / Menus
@import "components/nav-desktop-main";
@import "components/nav-desktop-sub";         
@import "components/nav-mobile";
@import "components/nav-mobile-to-top";

// More components
@import "components/fancybox";

// Other medias
@import "components/print";

// ----------------------------------------------------------------------------------------------------
// 4. Layout Variations
@import "layout-variations/layout-variation-default";
@import "layout-variations/layout-variation-box";
@import "layout-variations/layout-variation-wide";
@import "layout-variations/layout-variation-full";
@import "layout-variations/layout-variation-landingpage";
@import "layout-variations/layout-header-variations";

